<div>
  <ul class="list-group mt-4">
    <li class="list-group-item text-center p-0 pb-2 border-0">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ "/assets/logo-simbolo.png" | relative_url }}" class="img-fluid logo-isotipo-sm" alt="isologo">
      </a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-light">
  <div class="container d-flex align-items-center justify-content-center">
    <button class="btn" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="nav justify-content-center my-2">
      <div class="nav-item p-1 col-sm">
        <a href="{{ '/' | relative_url }}" class="btn btn-outline-secondary btn-block" role="button">Inicio</a>
      </div>
      <div class="nav-item p-1 col-sm">
        <a href="#" class="btn btn-outline-secondary btn-block disabled" role="button">Aporte</a>
      </div>
      <div class="nav-item p-1 col-sm">
        <a href="#" class="btn btn-outline-secondary btn-block disabled" role="button">Proyectos</a>
      </div>
      <div class="nav-item p-1 col-sm">
        <a href="{% link noticias.html %}" class="btn btn-outline-secondary btn-block" role="button">Noticias</a>
      </div>
      <div class="nav-item p-1 col-sm">
        <a href="#" class="btn btn-outline-secondary btn-block disabled" role="button">Mercado</a>
      </div>
    </div>
  </div>
</nav>
