<!-- reserved space -->
<div class="container align-items-center justify-content-center">

    <ul class="list-group mt-4">
      <li class="list-group-item text-center p-0 pb-2 border-0">
          <img src="{{ "/assets/logo-simbolo.png"}}" class="img-fluid logo-isotipo-sm" alt="isologo">
      </li>
    </ul>

    <nav class="navbar navbar-light">
        
        <div class="container d-flex align-items-center justify-content-center">
          <button class="btn" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarText">
            <div class="container col-sm-6">
                <div class="nav justify-content-center mb-3">
                    <div class="nav-item p-1 col-sm">
                        <a href="{{"/"}}" class="btn btn-outline-secondary btn-block" role="button">Inicio</a>
                    </div>
                    <div class="nav-item p-1 col-sm">
                        <a href="#" class="btn btn-outline-secondary btn-block disabled" role="button">Aporte</a>
                    </div>
                    <div class="nav-item p-1 col-sm">
                        <a href="#" class="btn btn-outline-secondary btn-block disabled" role="button">Proyectos</a>
                    </div>
                    <div class="nav-item p-1 col-sm">
                        <a href="{{"/noticias"}}" class="btn btn-outline-secondary btn-block" role="button">Noticias</a>
                    </div>
                    <div class="nav-item p-1 col-sm">
                        <a href="#" class="btn btn-outline-secondary btn-block disabled" role="button">Mercado</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>
